################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

################################################################################
# Visual Studio
################################################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

################################################################################
# Build Folders
################################################################################

# API Project
/bin/
/obj/

# Models Class Library
# (also ignore bin/obj but still track source files)
**/bin/
**/obj/

################################################################################
# Logs
################################################################################
/logs/


################################################################################
# NuGet Packages
################################################################################
*.nupkg
packages/
# NuGet v3 restore
*.nuget

################################################################################
# Others
################################################################################
*.vsix
*.pdb
*.mdb
*.cache
*.dbmdl
*.opendb
*.DS_Store

# Rider
.idea/